In [ ]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

In [ ]:
mylist = [1,2,3]

In [ ]:
np.ones((10,5)).shape

In [ ]:
np.ones((10,5))

In [ ]:
ints = np.ones(10, dtype=np.uint16)
floats = np.ones(10, dtype=np.float32)
np.issubdtype(ints.dtype, np.integer)
np.issubdtype(floats.dtype, np.floating)

In [ ]:
ints

In [ ]:
floats

In [ ]:
arr = np.random.randn(6)
arr.sort()
arr

In [ ]:
arr = np.arange(30)
arr

In [ ]:
arr.reshape((5, -1))[-1]
for x in range(0,5):
   print(x)
list(range(0,5))

In [ ]:
arr.reshape((5, -1))[-1]
for x in range(0,5):
   print(x)
list(range(0,5))
[[0, 1], [2, 3], [4,5]]

In [ ]:
arr = np.random.randn(3, 5)
arr
arr[:, 0].sort()  # Sort first column values in-place
arr

In [ ]:
arr[:,2]

In [ ]:
arr[2,:]

In [ ]:
import numpy as np
data = {i : np.random.randn() for i in range(7)}
data

In [ ]:
y = [i*2 for i in range(7)]

In [ ]:
y

In [ ]:
divided = [x*2 for x in range(100) if x % 21
           == 0]

print(divided)

In [1]:
x = 5
y = 7
if x > 2:
   x += 1
   y = 8

In [ ]:
divided = [x for x in range(100) if x % 2 == 0 if x % 6 == 0]

print(divided)

In [2]:
x,y

(6, 8)

In [3]:
a = 'foo'

getattr(a, 'split')

In [4]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [12]:
a_tuple = (3, 5, (4, 5))
#a_tuple[1] = 'four'

In [10]:
a_tuple2 = [3, 5, [4, 5]]
a_tuple2[1] = 'four'

In [8]:
a_tuple

[3, 'four', [4, 5]]

In [13]:
type(a_tuple)

tuple